.blog {
    background-color: white;

    h2 {
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }

    h3 {
        font-weight: 400;
        font-style: italic;
        font-size: 1.5rem;
    }

    .tags {
        margin-top: 5%;
    }

    aside {
        padding: 1rem;
        
        h3 {
            font-weight: 400;
            font-style: italic;
            font-size: 1.2rem;
        }
        ul {
            padding: 0;

            li {
                list-style-type: square;
                display: inline;
                padding: 0 1rem;
                font-style: italic;

                &:first-of-type {
                    padding: 0;
                }
            }
        }
    }
    p {
        font-size: 1.2rem;

        &:nth-child(1){
            font-size: 1.7rem;
            font-style: italic;
            font-weight: 400;

        }

        &:last-child {
            background: $background-grey;
            padding: 1rem;
            font-size: 1rem;
        }
    }

    article {
        padding: 1rem;
    }
}