.blog {
    background-color: white;

    h2 {
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }

    h3 {
        font-weight: 400;
        font-size: 1.2rem;
        color: $font-grey;
    }

    .tags {
        margin-top: 5%;
    }

    aside {
        padding: 6.2rem 1rem 0;
        
        h3 {
            font-weight: 400;
            // font-style: italic;
            font-size: 1.2rem;
            color: $font-grey;
            padding: 0;
            margin-top: 0;
        }
        ul {
            padding: 0;

            li {
                list-style-type: none;
                padding: 0 1rem;
                font-style: italic;
                color: $font-grey;
                margin: 10px 0;
            }
        }
    }
    p {
        font-size: 1.2rem;
        line-height: 1.8;
        color: $font-grey;

        &:nth-child(1){
            font-size: 1.7rem;
            font-style: italic;
            font-weight: 400;

        }

        &:last-child {
            background: $background-grey;
            padding: 1rem;
            font-size: 1rem;
        }
    }

    article {
        padding: 1rem;

        blockquote {
            color: $font-grey;
            font-size: 1.2rem;
            line-height: 1.8;
            font-style: italic;
            border-left: 3px solid $pink;
            padding-left: 5px;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}