.contact {
    background-image: $dark-green-gradient;
    color: $font-light;
    font-size: 1.2rem;
    font-weight: 300;

    p {
        width: 50%;
        margin: 0 auto;
        text-align: center;        
        
        line-height: 1.8;
        padding-bottom: 2rem;
        font-size: 1.2rem;
    }

    
}