.portfolio {
    background: white;
    padding: 7rem 0;
    margin: 0 auto;


    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 3rem;
        max-width: 485px;
        margin: 0 auto;
        font-size: 2rem;
        color: $font-offblack;
    }

    p {
        margin: 0 auto;
        text-align: center;        
        color: $font-grey;
        line-height: 1.8;
        padding: 0 1rem 5rem;
        font-size: 1.2rem;
        max-width: 600px;
    }

    .item1, .item2, .item3 {
        height: 100vw;
        margin-bottom: 1rem;
    }

    .item1 {
        background: url("../assets/images/clock.jpg");
        background-size: cover;
        background-position: 25% 28%;
    }

    .item2 {
        background: url("../assets/images/materialDesign.jpg");
        background-size: cover;
        background-position: center;
    }

    .item3 {
        background: url("../assets/images/agency.jpg");
        background-size: cover;
        background-position: 25% 0%;
    }

    @media only screen and (min-width: 500px) and (max-width: 799px) {
        .item1, .item2, .item3 {
            max-width: 90%;
            height: 90vw;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
    }

    @media only screen and (min-width: 800px) {
        .item1, .item2, .item3 {
            height: 33.33vw;
        }
        .item1 {
            background: linear-gradient(
                         rgba(25, 114, 120, .5), 
                         rgba(25, 114, 120, .5)),
                         url("../assets/images/clock.jpg");
            background-size: cover;
            background-position: 25% 28%;
            transition: all 1s;
            position: relative;
            
            &:hover {
                background: url("../assets/images/clock.jpg");
                background-size: cover;
                background-position: 0% 32%;
            }
        }

        .item2 {
            background: linear-gradient(
                         rgba(247, 101, 155, .5), 
                         rgba(247, 101, 155, .5)),
                         url("../assets/images/materialDesign.jpg");
            background-size: cover;
            background-position: left center;
            transition: all 1s;
    
            &:hover {
                background: url("../assets/images/materialDesign.jpg");
                background-size: cover;
                background-position: right center;
            }
        }
        .item3 {
            background: linear-gradient(
                      rgba(50, 54, 64, .5), 
                      rgba(50, 54, 64, .5)),
                        url("../assets/images/agency.jpg");
            background-size: cover;
            background-position: 25% 0%;
            transition: all 1s;
    
            &:hover {
                background: url("../assets/images/agency.jpg");
                background-size: cover;
                background-position: 25% 60%;
            }
        }
    }
}   