.portfolio {
    background: white;
    padding: 7rem 0;
    margin: 0 auto;


    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 3rem;
        max-width: 485px;
        margin: 0 auto;
        font-size: 2rem;
        color: $font-offblack;
    }

    p {
        margin: 0 auto;
        text-align: center;        
        color: $font-grey;
        line-height: 1.8;
        padding: 0 1rem 5rem;
        font-size: 1.2rem;
        max-width: 600px;
    }

    .item {
        height: 100vw;
        overflow:hidden;
        position: relative;
        margin-bottom: 1rem;
    }

    .item1>img, .item2>img {
        width: 100%;
        position: absolute;
    }

    .item3>img {
        width: 120%;
        position: absolute;
        left: -2rem;
    }

    @media only screen and (min-width: 500px) and (max-width: 799px) {
        .item {
            max-width: 90%;
            height: 90vw;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        .item3>img {
            width: 120%;
            position: absolute;
            left: -3rem;
        }
    }

    @media only screen and (min-width: 800px) {
        .item{
            height: 33.33vw;
            border: 15px solid white;
        }

        .item1>img { 
            top: 0;
            transition: all 1s;
            
            &:hover {
                top: -35rem;
            }
        }

        .item1>img, .item2>img {
            top: 0;
            transition: all 1s;
            
            &:hover {
                top: -41rem;
            }
        }

        .item3>img {
            transition: all 1s;
            left: -2.8rem;

            &:hover {
                
                left: -4rem;
            }
        }
    }
}   