.services {
    background-color: white;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 3rem;
        max-width: 485px;
        margin: 0 auto;
        font-size: 2rem;
        color: $font-offblack;
    }

    p {
        margin: 0 auto;
        text-align: center;        
        color: $font-grey;
        line-height: 1.8;
        padding: 0 1rem;
        font-size: 1.2rem;
        max-width: 600px;
    }

    ul {
        display: inline-block;
        background-color: $background-grey;
        padding: 1.5rem;  
    }

    li {
        list-style-type: none;
        padding: 10px 0;
        text-align: left;
        color: $font-grey;
        line-height: 1.8;
        font-size: 1.2rem;
        width: 120%;
        
        &:before {
            content:"\00a0";
            border-left: 4px solid $pink;
        }
    }
    .button {
        margin-top: 3rem;
    }
}
