// sections colors
$background-grey: #F2F2F2;
$black-overlay-gradient: rgba(50, 54, 64, .9);
$dark-green-gradient: linear-gradient(45deg, rgba(56, 128, 135, .9), rgba(32, 145, 152, .9));

// font colors
$font-dark: #282C34;
$font-light: #ffffff;
$font-grey: #808080;

// buttons colors
$pink: #F7659B;
$dark-grey: #4D4D4D;

// color overlays
$pink-overlay: rgba(247, 101, 155, .5);
$blue-overlay: rgba(25, 114, 120, .5);
$purple-overlay: rgba(113, 155, 228, .5);

// link color
$green-link: #388087;

// global variables
$content-width: 1170px;
$breakpoint: 799px;
$breakpoint-navbar: 810px;
$nav-height: 60px;
