@import '_variables';
@import '_grid';
@import '_hero';
@import '_navbar';
@import '_buttons';
@import '_about';
@import '_welcome';
@import '_contact';
@import '_portfolio';
@import '_services';
@import '_clock';
@import '_success';
@import '_blog';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
    background-color: $background-grey;
    color: $font-dark;
    font-family: 'Hind', sans-serif;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

*:focus, a:focus {
    outline: 1px dashed blue;
}
 

.wrapper-center {
    display: block;
    text-align: center;
}

.wrapper {
    padding: 7rem 0;
}

a {
    color: $pink;
}
//////////////////
.about {
    background: white;

    h2 {
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 3rem;
        font-size: 2rem;
    }

    p {
        width: 60%;
        margin: 0 auto;
        text-align: left;        
        color: $font-grey;
        line-height: 1.8;
        padding: 0 1rem 2rem;
        font-size: 1.2rem;

        &:last-child {
            background: $background-grey;
            padding: 1rem;
            font-size: 1rem;
        }
    }
}