@import '_variables';
@import '_grid';
@import '_hero';
@import '_navbar';
@import '_buttons';
@import '_about';
@import '_contact';
@import '_portfolio';
@import '_services';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
    background-color: $background-grey;
    color: $font-dark;
    font-family: 'Hind', sans-serif;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

.wrapper-center {
    display: block;
    text-align: center;
}

.wrapper {
    padding: 7rem 0;
}

.services {


    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 3rem;
        max-width: 485px;
        margin: 0 auto;
        font-size: 2rem;
        color: $font-offblack;
    }

    p {
        margin: 0 auto;
        text-align: center;        
        color: $font-grey;
        line-height: 1.8;
        padding: 0 1rem 5rem;
        font-size: 1.2rem;
        max-width: 600px;
    }

    .card {
        border: 1px solid lightgrey;
        max-width: 90%;
        //margin-bottom:2rem;
        
        
        h3 {
            text-align: center;
            text-transform: uppercase;
            background: $dark-green-gradient;
            color: $font-light;
            padding: 1rem 0;
            font-size: 1.5rem;
            margin: 0;
        }

        .insideCard {
            // padding: 2rem .5rem 1rem;
            // height: 950px;

            p {
                text-align: left;
                   
            }

            ul {
                list-style: none;
                padding: 0;
                padding-bottom: 2rem;

                li {
                    font-size: 1.2rem;
                    color: $font-grey;
                    padding-bottom: 1.5rem;
                    
                    &:last-child {
                        padding-bottom: 0;
                    }
                    
                    a {
                        color: $green-link;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
            }

            .buttonWrapper {
                text-align: center;
                
            }
        }
        
    }
}

// contact
.contact {
    background-image: $dark-green-gradient;
    color: $font-light;
    font-weight: 300;

    div{
        padding-bottom: 1.5rem;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 3rem;
        max-width: 485px;
        margin: 0 auto;
        font-size: 2rem;
    }

    p {
        margin: 0 auto;
        text-align: center;        
        color: $font-light;
        line-height: 1.8;
        padding: 0 1rem 2rem;
        font-size: 1.2rem;
    }

    form {
        text-align: center;

        label {
            display: inline-block;
            text-align: right;
            margin-right: 1rem;
            text-transform: uppercase;
            font-weight: 700;
        }

        input {
            background: transparent;
            border: none;
            border-bottom: 1px solid $font-light;
            outline-color: $pink;

            &:focus, &:active {
               
                background: none;
                color: $font-light;
            }
        }
        textarea {
            margin: 0 auto;
            display: block;
            box-sizing: border-box;
            width: 95%;
            max-width: 550px;
            height: 95vw;
            max-height: 300px;
            border: none;
    
            &::-webkit-input-placeholder {
                color: lightslategrey;
                padding: 1rem;
                font-style: italic;
            }
            &:-moz-placeholder{
                color: lightslategrey;
                padding: 1rem;
                font-style: italic;
            }
    
            &::-moz-placeholder {
                color: lightslategrey;
                padding: 1rem;
                font-style: italic;
            }
    
            &:focus, &:active {
                background: $font-light;
            }
        }
        button {
            width: 200px;
            max-width: 60%;   
        }
    }

    @media screen and (min-width: 710px) {
        p {
            padding-bottom: 2rem;
            width: 80%;
        }
    }
        
    @media screen and (min-width: 800px) {
        form {
            .inputFields {
                margin-top: 5rem;
            }
            textarea {
                width: 80%;
                max-width: 400px;
                height: 80vw;
                max-height: 300px;
                margin: 0;
            }
        }
        
    }


    @media screen and (min-width: 1171px) {
        p {
            padding-bottom: 2rem;
            width: 50%;
        }
    } 
} /* end contact session */